Flask
Flask-SQLAlchemy
qrcode
watchdog
Pillow
reportlab
requests
pyinstaller
Flask-Talisman
Flask-Limiter
Flask-WTF
WTForms
Flask-Mail
Flask-SocketIO
pyotp
bcrypt
redis
scikit-learn
numpy
joblib
exifread
pytesseract
cryptography
PyQt5
