Flask
Flask-SQLAlchemy
qrcode
Pillow
reportlab
requests
Flask-Talisman
Flask-Limiter
Flask-WTF
WTForms
Flask-Mail
pyotp
bcrypt
scikit-learn
numpy
joblib
exifread
pytesseract
cryptography
serverless-wsgi
